@import './utils/vars';
@import './utils/reset';
@import './utils/common';
@import './utils/hidden';
@import './utils/mixin';
@import './components/container';
@import './components/header';
@import './components/hero';
@import './components/benefits';
@import './components/activity';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/modal';
@import './components/progects';
