.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;  
  }
}
  
  .picture-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
  }
  
  .picture-list__item {
    width: 100%;
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
  }
}
  
  .picture-list__link {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
  }
   
  .picture-list__title {
    margin-top: 30px;
    @include font(700, 14px, var(--top-ht), 0.03em);  
    text-transform: uppercase;
    color: var(--top-title-color);
    margin-bottom: 10px;
    text-align: center;
    @include tablet {
      text-align: left;
    }
    @include desktop {
      text-align: left;
    }
  }
  
  .picture-list__text {
    @include font(null, 14px, 1.71, 0.03em);
    color: var(--top-text-color);
  }

  .benefits__container {
    display: flex;
    align-items: center;
  }