:root {
    --top-title-color: #212121;
    --top-text-color: #757575;
    --top-adress-color: #2196f3;
    --top-ht: 1.14;
    --top-footer-text: rgba(255, 255, 255, 0.6);
    --footer-text-color: #ffffff;
    --top-btn-color: #ffffff;
  }